.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
    ul {
        display: flex;
        align-items: center;
        li {
            margin-right: 1rem;
            list-style: none;
            .link {
                color: #000;
                text-decoration: none;
                font-size: 1.2rem;
                font-weight: bold;
            }
        }
    }
}
